<div class="navBar">
    <a href="https://enovel.com.co/" target="_blank" class="icon">
        <div class="itemNavbar">
            <img src="./assets/enovel.png" alt="" srcset="">
        </div>
    </a>
    <div class="menu">
        <a class="itemNavbarText" href="#">
            <div class="iconNav">
                <img src="./assets/icon/agregar.png" alt="" srcset="">
            </div>
            <div class="textNav">
                <a href="">Crear tareas</a>
            </div>  
        </a>
        <a class="itemNavbarText" href="#">
            <div class="iconNav">
                <img src="./assets/icon/pendientes.png" alt="" srcset="">
            </div>
            <div class="textNav">
                <a href="">Mis pendientes</a>
            </div>  
            
        </a>
    </div>
    <div class="nameNavbar">
        <div class="usuarioNavbar">
            <span class="saludo">Usuario: <span class="nombre"><b>{{usuario}}</b></span></span>
        </div>
    </div>

</div>
<img src="./img/enovel.png" alt="" srcset="">
<img src="./img/ejemplo.jpg" alt="" srcset="">

