<div class="container">
  <div class="agregar">
    <div class="add">
      <div class="addItem">
        <a href="">
          <h2>Tareas</h2>
        </a>
      </div>
    </div>
  </div>

  <div class="tareasAgregadas">
    <div class="tarea">
      <ng-container *ngFor="let tarea of tareas">
        <div class="tareaEnCurso">
          <div class="status">
            <h3>Activa</h3>
          </div>
  
          <div class="textoTarea">
            <h4>{{tarea.descripcion}}</h4>
          </div>

          <div class="action-container">
            <ng-container *ngIf="esSolicitante; else elseTemplate">
              <button type="button" class="btn btn-success" [disabled]="!habilitarBtn" (click)="completar()">OK</button>
              <!-- <a class="check" href="#">
                <img src="./assets/icon/check.png" alt="" />
              </a> -->
            </ng-container>
            <ng-template #elseTemplate>
              <button type="button" class="btn btn-primary" (click)="aprobar()">Aprobar</button>
            </ng-template>
          </div>
  
          <!-- <a class="check" href="#">
            <img src="./assets/icon/check.png" alt="" />
          </a> -->
        </div>
      </ng-container>
      
      <ng-container *ngIf="mostrarBtn">
        <button type="button" class="btn btn-success" (click)="guardarTareas()">Guardar</button>
      </ng-container>

    </div>
  </div>
</div>