<div class="container">
    <!-- <div class="card card-container">
        <div class="card-header">
            <div class="card-title">Crear tarea</div>
        </div>
        <div class="card-body">
            This is some text within a card body.
        </div>
    </div> -->
    <div class="card">
        <div class="custom-card-header">
            <p>Crear tareas</p>
        </div>
        <div class="custom-container">
         <div class="input-container">
             <textarea class="form-control" placeholder="Escribe el detalle de la tarea"></textarea>
         </div>
         <div class="action-container">
             <button type="button" class="btn btn-primary">Agregar</button>
         </div>
        </div>
      </div>
</div>