<div class="container">
    <div class="agregar">
        <div class="add">
            <div class="addItem">
                <a href="">
                    <h2>+ Añadir Tarea</h2>
                </a>
            </div>

        </div>
        <div class="item">
            <div class="inputTarea">
                <textarea name="" id="" cols="30" rows="1" placeholder="Escribe aquí tu tarea, pronto será aprobada ..." ></textarea>
            </div>
            <a  href="">
                <img src="./assets/icon/ok.png" alt="" srcset="">
            </a>
            
    
        </div>

    </div>
   

</div>

<app-ver-tarea></app-ver-tarea>